html, body{
  margin: 0px;
  padding: 0px;
}

body{
  display: block;
  justify-content: center;
  margin:auto;
  font-family: 'Source Sans Pro', sans-serif;
  border: 2px solid black;
  background-color: white;
  color: black;
  letter-spacing: 1px;
  line-height: 150%;
  font-size: 16px;
}

header{
  display: flex;
  flex-direction: row;
  top: 0px;
  background-color: #EBEBEB;
  border: 1px solid green;
  width: 100%;
  height: 85px;
  justify-content: space-between;
}

.titre{
  display: inline;
  float: left;
}

h1{
  font-size: 26px;
  width: 420px;
  text-align: left;
  padding-left: 50px;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 800px;
  height: 30px;
  float: right;
  margin-top: 20px;
}

a:link, a:visited {
    text-decoration: none;
    color: #7a87f8;
}

a:hover {
    text-decoration: underline;
    color: teal;
}

section{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  height: 400px;
  margin-top: 80px;
  border: 1px solid red;
  color: black;
}

p{
  text-align: justify;
}

.illu{
  border: 1px solid purple;
  width: 45%;
  height: 400px;
}

h2{
  color: #7a87f8;
  margin: auto;
  margin-top: 140px;
  text-align: center;
  background-color: #EBEBEB;
  padding: 10px;
}

#p-accueil{
  background-image: url(images/autres/p1accueil.jpg);
  opacity: 0.5;
}

#p-makingof{
  background-image: url(images/autres/p2rail.jpg);
  opacity: 0.5;
}

#p-entreprise{
  background-image: url(images/autres/p2mo.jpeg);
  opacity: 0.5;
}

#p-interview{
  background-image: url(images/autres/p4inte.jpeg);
  opacity: 0.5;
}

#p-conclu{
  background-image: url(images/autres/p5conclu.jpeg);
  opacity: 0.5;
}


.blabla{
  border: 1px solid yellow;
  width: 50%;
}

article{
  padding: 10px 20px;
}

/*premiere page*/

.choix-questions{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EBEBEB;
}

.Equest{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid teal;
  width: 50%;
  height: 200px;
  overflow: hidden;
  padding-top: 0px;
  margin: auto;
}


/*à partir d'ici  la page de garde*/

.allmenu{
  width: 950px;
  height: 650px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
  '. haut .'
  'm1 m2 m3'
  '. bas .'
}

#haut, #m1, #m2, #m3, #bas{
  width: 300px;
  height: 200px;
}

#haut:hover, #m1:hover, #m2:hover, #m3:hover, #bas:hover{
  /*opacity: 0.5;*/
}

#haut{
  background-image: url(images/autres/vignettes/v1.jpg);
  grid-area: haut;
  display: flex;
  justify-content: center;
}

#m1{
  background-image: url(images/autres/vignettes/v2.jpg);
  grid-area: m1;
  display: flex;
  justify-content: center;
}

#m2{
  background-image: url(images/autres/vignettes/v3.jpg);
  grid-area: m2;
  display: flex;
  justify-content: center;
}

#m3{
  background-image: url(images/autres/vignettes/v4.jpg);
  grid-area: m3;
  display: flex;
  justify-content: center;
}

#bas{
  background-image: url(images/autres/vignettes/v5.jpg);
  grid-area: bas;
  display: flex;
  justify-content: center;
}

h3{
  text-align: center;
  background-color: #EBEBEB;
  margin-top: 70px;
  padding: 5px;
  width: 150px;
}
