body{
  display: block;
  margin:auto;
  font-family: 'Source Sans Pro', sans-serif;
  border: 2px solid black;
  background-color: white /*#2D3E58*/;
  background-color: #2D2E36;
  color: black;
  letter-spacing: 1px;
  line-height: 150%;
  font-size: 16px;
}

nav{
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

nav a{
  margin-left: 100px;
}

.pic{
  display: block;
  margin: auto;
  opacity: 0.5;
}

header{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-image: url(/home/user/Bureau/Learning/interview-webdev/images/shattered-island.gif);

  /*background-image: url(/home/user/Bureau/Learning/interview-webdev/images/fd2.png);
  /*background-color: #270722;
  background-blend-mode: hard-light;*/
  border: 1px solid green;
  color: white;
}

a:link, a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
    color: #7a87f8;
}



h2{
  width: 400px;
  text-align: left;
  padding-left: 20px;
}

p{
  text-align: justify;
  padding: 10px 20px;
}

section{
  display: block;
  margin: auto;
  /*background-color: #2D3E58;*/
  border: 1px solid red;
  color: black;
}
