html, body{
  margin: 0px;
  padding: 0px;
}

body{
  /*display: block;
  justify-content: center;*/
  margin: auto;
  font-family: 'Source Sans Pro', sans-serif;
  /*border: 2px solid black;*/
  background-color: white;
  color: black;
  letter-spacing: 1px;
  line-height: 150%;
  font-size: 16px;
}

header{
  display: flex;
  flex-direction: row;
  top: 0px;
  background-color: #EBEBEB;
  /*border: 1px solid green;*/
  width: 100%;
  height: 85px;
  justify-content: space-between;
}

.titre{
  display: inline;
  float: left;
}

h1{ /*gros titre*/
  font-size: 26px;
  width: 420px;
  text-align: left;
  padding-left: 50px;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 800px;
  height: 30px;
  float: right;
  margin-top: 20px;
}

a:link, a:visited {
    text-decoration: none;
    color: #7a87f8;
}

a:hover {
    text-decoration: none;
    color: teal;
}

section{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 80%;
  height: 400px;
  margin-top: 80px;
  /*border: 1px solid red;*/
  color: black;
}

p{
  text-align: justify;
  margin: 0px;
}


.illu{
  /*border: 1px solid purple;*/
  width: 45%;
  height: 400px;
}

h2{ /*titre boite illus*/
  color: #7a87f8;
  margin: auto;
  margin-top: 140px;
  text-align: center;
  background-color: #EBEBEB;
  padding: 10px;
}

#p-accueil{
  background-image: url(images/autres/p1accueil.jpg);
  background-repeat: round;
  opacity: 0.5;
}

#p-makingof{
  background-image: url(images/autres/p2rail.jpg);
  background-repeat: round;
  opacity: 0.5;
}

#p-entreprise{
  background-image: url(images/autres/p2mo.jpeg);
  background-repeat: round;
  opacity: 0.5;
}

#p-interview{
  background-image: url(images/autres/p4inte.jpeg);
  background-repeat: round;
  opacity: 0.5;
}

#p-conclu{
  background-image: url(images/autres/p5conclu.jpeg);
  background-repeat: round;
  opacity: 0.5;
}


.blabla{
  /*border: 1px solid yellow;*/
  border-right: 2px solid #EBEBEB;
  width: 50%;
}

article{
  padding: 10px 20px;
}

/*inter*/

.choix-questions{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EBEBEB;
}

.Equest{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /*border: 1px solid teal;*/
  border-right: 2px solid #EBEBEB;
  width: 50%;
  height: 350px;
  overflow: hidden;
  padding-top: 0px;
  margin: auto;
  margin-top: 0px;
}

h4{ /*questions boite illu interv */
  text-align: center;
  margin: 0px;
}

/*à partir d'ici  la page de garde*/

.allmenu{
  width: 950px;
  height: 650px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-areas:
  '. haut .'
  'm1 m2 m3'
  '. bas .'
}

#v1, #v2, #v3, #v4, #v5{
  width: 300px;
  height: 200px;
}

#v1{
  background-image: url(images/autres/vignettes/v1.jpg);
  grid-area: haut;
  display: flex;
  justify-content: center;
}

#v2{
  background-image: url(images/autres/vignettes/v2.jpg);
  grid-area: m1;
  display: flex;
  justify-content: center;
}

#v3{
  background-image: url(images/autres/vignettes/v3.jpg);
  grid-area: m2;
  display: flex;
  justify-content: center;
}

#v4{
  background-image: url(images/autres/vignettes/v4.jpg);
  grid-area: m3;
  display: flex;
  justify-content: center;
}

#v5{
  background-image: url(images/autres/vignettes/v5.jpg);
  grid-area: bas;
  display: flex;
  justify-content: center;
}

h3{ /*titre vignette*/
  text-align: center;
  background-color: #EBEBEB;
  margin-top: 70px;
  padding: 5px;
  width: 150px;
}

/*le pied*/

footer{
  width: 50%;
  margin: auto;
  border-top: 2px solid #EBEBEB;
  margin-top: 80px;
  padding: 5px;
}

nav{
  display: flex;
  justify-content: center;
}
